@import "tailwindcss";
@import "tw-animate-css";

@plugin "daisyui" {
  themes: all;
}

@plugin "daisyui/theme" {
  name: "wishzy";
  default: false; 
  prefersdark: false;
  color-scheme: light;

  --color-primary: #F7941D;
  --color-primary-content: #ffffff;

  --color-secondary: #FDE68A;
  --color-secondary-content: #1f2937;

  --color-accent: #ffffff;
  --color-accent-content: #ffffff;

  --color-neutral: #F7941D;
  --color-neutral-content: #ffffff;

  --color-base-100: #ffffff;
  --color-base-200: #f1f5f9;
  --color-base-300: #e2e8f0;
  --color-base-content: #1f2937;

  --color-info: #3ABFF8;
  --color-success: #36D399;
  --color-warning: #FBBD23;
  --color-error: #F87272;
}

html {
  font-family: 'Be Vietnam Pro', sans-serif;
}